@charset "utf-8"

body, div, dl, dt, dd, ul, ol, ul,li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td ,span{
  margin: 0;
  padding: 0;
   }

textarea {
  resize: none; }

html {
  font-size: 62.5%; }

body {
  /*background: #dcdcdc;}*/
/*  min-width: 320px;}*/
}
a, img {
  border: 0 none; }

a {
  text-decoration: none; }

a:hover {
  color: #0053a6; }

li {
  list-style: none; }

.fl {
  float: left; }

.fr {
  float: right; }

#backtop{
  width: 40px;
  height: 40px;
  display: block;
  float: right;
  position: fixed;
  right: 5px;
  bottom: 10px;
  z-index: 100;
  display: none;
}


#backtop img{
  width: 100%;
  height: auto;
  float: right;
}